.container{
    padding: 16px;
    margin: 20px;

   box-shadow: 3px 2px 20px #78029b;

}
h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 18px;
    margin-bottom: 12px;
    color: #e48ffd;
}
ion-button{
    margin-top: 20px;
    margin-left: 30px;
}